@page
@model ResolutionsPsych.Pages.AddClientModel
@{
}
<label>@Model.Message</label>
<form method="post">
    <label asp-for="FName"></label>
    <input asp-for="FName" />
    <br />

    <label asp-for="LName"></label>
    <input asp-for="LName" />
    <br />

    <label asp-for="MName"></label>
    <input asp-for="MName" />
    <br />

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <br />

    <label asp-for="Address"></label>
    <input asp-for="Address" />
    <br />

    <input type="submit" value="Create Client" />
</form>