@page
@model ResolutionsPsych.Pages.UpdateStaffModel
@{ }
<label>@Model.Message</label>





<form method="post">
    <div class="form-group">
        <label asp-for="NewUsername">Username</label>
        <input type="text" asp-for="NewUsername" value="@Html.Raw(Model.ToUpdateStaff.Username)" class="form-control" />
        <span asp-validation-for="NewUsername" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">Password</label>
        <input asp-for="NewPassword" class="form-control"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    @*not inlcuding password on purpose ; dont want others to see a password that potentially gets
        reused by the user elsewhere*@
    <input type="submit" value="Update" class="btn btn-primary"/>


</form>
    
